<td>
  <%= secret_code.code %>
</td>
<td>
  <%= secret_code.user.try(:email) %>
</td>
<td>
  <%= link_to("Delete code", secret_code_path(secret_code), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') if current_user.admin? %>
</td>
